{% load static %}
<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    {% include 'base/css_costum_scrolling.html' %}
    <title>Forum</title>
  </head>
  <body>
    {% include 'base/navbar.html' %}
    <div class="container mt-3">
      
      {% block content %}
      {% endblock%}
    </div>

    
    
    {% include 'base/js.html' %}
    </body>
</html>