{% extends 'base.html' %}

{% block content %}
        
        
            
        <div class="row py-3" style="background-image: url({{ user.cover.url }});">
            
            {% if avatar %}
                <div class="col-6 col-md-2 col-lg-2">
                    <img class="" src="{{ avatar }}" style="border-radius: 60px;width: 120px;height: 120px;">
                </div>
            {% endif %}
            <div class="col-6 col-md-4 col-lg-4 my-auto">
                <b><h1 style="color: white;">{{ username }}</h1></b>
            </div>
            
            {% if edit %}
                <div class="col-12 col-md-4 col-lg-2 ml-auto my-auto">
                    <a href="{% url 'accounts:edit' %}"><button type="submit" class="btn btn-success float-right" value="Submit" style="margin-top: 1em;">Edit profile</button></a>
                </div>
            {% endif %}
                
            <div class="col-7 col-md-2 col-lg-2 ">
                {% if add %}
                    <a href="{% url 'accounts:friend_request' pk=pk %}">
                        <button type="submit" class="btn btn-success   mx-3" value="Submit" style="margin-top: 1em;">Add Friend</button>
                    </a>
                {% endif %}
                {% if remove %}
                    <a href="{% url 'accounts:remove_friend' pk=pk%}">
                        <button type="submit" class="btn btn-success   mx-3" value="Submit" style="margin-top: 1em;">remove Friend</button>
                    </a>
                {% endif %}
            </div>
            <div class="col-4 col-md-2 col-lg-2 ">
            {% if follow %}
                    <a href="{% url 'accounts:follow' pk=pk operation='follow' %}">
                        <button type="submit" class="btn btn-success   mx-3" value="Submit" style="margin-top: 1em;">Follow</button>
                    </a>
                {% endif %}
                {% if unfollow %}
                    <a href="{% url 'accounts:follow' pk=pk operation='unfollow' %}">
                        <button type="submit" class="btn btn-success   mx-3" value="Submit" style="margin-top: 1em;">Unfollow</button>
                    </a>
                {% endif %}
            </div>   
            
        </div>
        <div class="row post  mb-5 py-3">
            <div class="col-auto m-auto py-2 theme-secondary">
                <a href="#"> afsgergzdfz</a>
            </div>
            <div class="col-auto  m-auto py-2 theme-secondary">
                <a href="#"> afsgergzdfz</a>
            </div>
            <div class="col-auto  m-auto py-2 theme-secondary">
                <a href="#"> afsgergzdfz</a>
            </div>
            <div class="col-auto  m-auto py-2 theme-secondary">
                <a href="#"> afsgergzdfz</a>
            </div>
        </div>   
        <div class="row mb-5 post">
            <div class="col-12">
                <h4 class="p-auto">Friends</h4>
            </div>
                {% for friend in friend_list %}
                <div class="col-10 col-lg-5 m-3 py-2   theme-secondary"><a class="friend" href="{% url 'accounts:users_profile' pk=friend.pk %}"> {{ friend.username }} </a></div>
            {% endfor %}
            
        </div>
        <div class="row mb-3">
            <h4>Posts</h4>
            {% for post in posts %}
                    {% include 'snippets/post_card.html' with instance=post %}
            {% endfor %}   
        </div>
{% endblock  %}
    