{% extends 'base_scrolling.html' %}

{% block content %}
{% url 'accounts:people' as people_url %}

<div class="row order-1 scrolling-container" >
    <div class="col-12" style="margin-bottom: 20px; max-width: 300px;">
        saved aria
    </div>
    <div class="col-12 col-lg-4 ml-auto right order-12" style="max-width: 300px;">
        {% if  friend_list %}
            <div class="row mb-2 post">
                <div class="col-12">
                    <h4>Friends</h4>
                </div>
                {% for friend in friend_list %}
                    <div class="col-10 m-3 py-2 theme-secondary">
                    <a href="{% url 'accounts:users_profile' pk=friend.pk %}"><p class="text-center friend">{{ friend.username }}</p></a>
                    </div>
                    
                    {% if forloop.counter == 4 %}
                         endfor
                    {% endif %}
                {% endfor %} 
                
            </div>

            <div class="col-8 col-md-11  mx-auto">
                    <a href="{{ people_url }}"  class="page-link m-auto"><h4>Connent friends &raquo;</h4></a>
                </div>
        {% else %}
        <a href="{{ people_url }}"  class="page-link m-auto"><h4>Connent people &raquo;</h4></a>
        {% endif %}

    </div>
    <div class="col-12 col-lg-5 mr-auto scroll order-6">
        <div class="col-12" style="margin-bottom: 20px; max-width: 500px;">
            {% if form %}
                {% include 'snippets/Create_post.html' with form=form %}
            {% endif %}
        </div>
        {% if post_list %}
            <div class="row" style="width: 500px;">
            {% for object in post_list %}
                <div class="col-12">
                     {% include 'snippets/post_card.html' with instance=object %}
                </div>
            {% endfor %}
            </div>
        {% endif %}    
    </div>
</div>

{% endblock %}
    
